body{
    font-family: 'Poppins', sans-serif;
    margin-left:10% ;
    margin-right: 10%;
}
.camera-blog{
    margin-top: 10%;
    display: flex;
  
}

.link-button{
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
   background-color: rgb(199, 64, 109);
   border-radius: 5px;
   color: white;
   
}
@media only screen and (max-width:688px){
    
    .camera-blog{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
}